
    <div class="container resume">
        <h3>Professional Background</h3>

        <h4>Meritage</h4>
        <p class="pull-right">May 2014 - September 2014</p>
        <p class="lead">Line Cook</p>
        <ul>
            <li>Participated with a team to prepare fish, oyster, grill and garde manger stations to feed ~150 people a day</li>
            <li>Managed time toward completing tasks in a high energy environment with ever-changing expectations</li>
            <li>Learned a multitude of new information about various oyster types and their nuances</li>
        </ul>

        <h4>The Lynn on Bryant</h4>
        <p class="pull-right">September 2012 - May 2014</p>
        <p class="lead">Sous Chef</p>
        <ul>
            <li>Assisted with preparing for and carrying out the opening of this French Bistro</li>
            <li>Created organizational systems for kitchen members that maximized usable space and efficiency of time</li>
            <li>Wrote prep lists, prepped food, and set up for meal service in a timely manner on a daily basis</li>
            <li>Taught and oversaw a team of cooks in carrying out tasks and long term projects</li>
            <li>Became responsible for ordering produce, meats, and dry goods to fill inventory according to daily demand</li>
            <li>Controlled all butchery and meat processing</li>
            <li>Created recipes for and production for all sauces and stocks</li>
            <li>Produced 7 different bread recipes to pair with different dish styles and taught to team</li>
        </ul>

        <h4>Eat Steet Social</h4>
        <p class="pull-right">March 2012- September 2012</p>
        <p class="lead">Line Cook</p>
        <ul>
            <li>Prepared for and assisted with the grand opening</li>
            <li>Fabricated meats including butchering primal cuts, sausages and sauces to match</li>
            <li>Made Kombucha tea from scratch including bottling to supply the demand</li>
            <li>Managed Saute and Grill stations for dinner service in collaboration with a team</li>
        </ul>

        <h4>Forepaugh's</h4>
        <p class="pull-right">July 2008-July 2012</p>
        <p class="lead">Sous Chef</p>
        <ul>
            <li>Became a vital part of the initial reopening as a Saute cook</li>
            <li>Moved up to Butcher position after 9 months and up to Sous Chef after another 6 months</li>
            <li>Led the production and management of stocks, sauces, braises,  and breaking down primal cuts</li>
            <li>Documented and ordered inventory to fit meal service requirements</li>
            <li>Sourced the best quality of meats, veggies, and dairy from local purveyors when possible</li>
        </ul>

    </div><!--Container end tag-->

    <div class="container resume">
        <div class="col-md-6">
            <div class="lifeexp divcontainer">
                <h3>Life Experience</h3>
                <ul>
                    <li>I developed an environment to dry cure salami at home choosing Arduino as my platform to control the environment. I identified that the best solution was to remotely monitor my salami box.  I was then able to break up the project into eight categories (sourcing materials needed, construction of the box, construction of the Arduino board, programming the board, implementing the Arduino into the box, displaying up-to-the-minute data on a web server, and developing sausage recipes). Coming up with solutions to each problem was a intellectually stimulating and gratifying experience since each problem required a different skill set that gave me an understanding of how a complex project comes together from start to finish.</li>
                    <li>From September to December of 2014, I was on a self-supported solo bicycle tour around the Northwestern part of the United States where I had opportunities to connect with other people, hone my culinary abilities in a various kitchens, and spend time reflecting on my path.</li>
                </ul>
            </div>
        </div><!--Left columns end tag-->


        <div class="col-md-6">
            <div class="education divcontainer">
                <h3>Education</h3>
                <p class="lead">Prime Digital Academy</p>
                <p>2015</p>
                <ul>
                    <li>MEAN stack development</li>
                    <li>Web application development</li>
                </ul>

                <p class="lead">Hennepin Technical College - Associates Degree in Culinary Arts</p>
                <p>September 2005- June 2007</p>
                <ul>
                    <li>Successfully completed course work in Java programming</li>
                    <li>Completed a course in Dining Room Service which has been valuable to me by developing relationship skills with co-workers and customers</li>
                    <li>Food Service Math gave me perspective into individual values and how they add up in a business setting, from menu costing to paper supplies to equipment care</li>
                </ul>
            </div>

        </div><!--Right columns end tag-->
    </div>
